.list{
    position: sticky;
    top: 0;
    padding: 10px;
}
.list-name{
    color: red;
}
.list-details{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: gainsboro;
    border-radius: 20px;
}
  
.list-info{
   
    padding: 10px;
    margin: 10px;
}
.btn{
    background-color: gainsboro;
    border-radius: 20px;
}

.break-btn{
    padding: 15px 20px;
    margin: 10px;
    border-radius: 20px;
}
.break-btn:hover{
    background-color: red;
    cursor: pointer;
}

.activity-btn{
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
    background-color: rgba(218, 19, 19, 0.788);
}
.activity-btn:hover{
    background-color: red;
}
