.exercise-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
   
  
}
.practice-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
      gap: 20px;
     margin: 30px 20px;
      
}

@media screen and (max-width:992px) {
    .practice-section{
        grid-template-columns: repeat(2,1fr);
    }
    .exercise-section{
        grid-template-columns: 4fr;
    }
    
}
@media screen and (max-width:576px) {
    .practice-section{
        grid-template-columns: repeat(1,1fr);
    }
}