.practice-section{
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.practice-card{
    position: relative;
    border: 1px solid rgb(230, 222, 222);

}

.practice-section img{
     height: 400px;
    width: 100%;
    margin: 5px;
}
.activity-name{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}
.activity-time{
    margin-bottom: 10px;
    padding-bottom: 50px;
}
.activity-details{
    margin-left: 20px;
}
.btn-cart{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-top: 10px;
    background-color: rgba(218, 19, 19, 0.788);
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: red;
}